.todo {
  text-decoration: none;
}

.done {
  text-decoration: line-through;
}

.add-todo-form, .time-control {
  margin: 20px;
}

.time-control {
  display: flex;
  flex-direction: column;
}

.time-control button {
  border: none;
  cursor: pointer;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

button:disabled {
  opacity: 0.5;
}

input, button {
  height: 25px;
  border-radius: 3px;
  border: thin solid #ddd;
}

input {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
  list-style: none;
}